{block title}
	Page Not Found
{/block}
{block description}
	The page you requested could not be found. It is possible that the address is
	incorrect, or that the page no longer exists. Please use a search engine to find
	what you are looking for.
{/block}
{block header}
	<p>
		<i class="fa fa-exclamation-circle"></i>
		error 404
	</p>
{/block}
