{block title}
	Server Error
{/block}
{block description}
	We're sorry! The server encountered an internal error and
	was unable to complete your request. Please try again later.
{/block}
{block header}
	<p>
		<i class="fa fa-exclamation-circle"></i>
		error 500
	</p>
{/block}
