<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Vít Kutný</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{='/assets/index.css'|version}">
</head>

<body>

<div class="jumbotron">
	<div class="container">
		<div class="text-center">
			<h1 class="display-3">{$contact->getName()}</h1>
			<p class="lead">{$contact->getPosition()}</p>
			<img n:if="$contactAvatar = $contact->getAvatar()"
					src="{$contactAvatar->getLink()}"
					alt="{$contact->getName()}"
					class="img-thumbnail rounded-circle"
					style="width:{$contactAvatar->getSize()}px;height:{$contactAvatar->getSize()}px;">
			<p>
				<i class="fa fa-2x fa-map-marker"></i>
				{$contact->getAddress()}
			</p>
			<hr class="jumbotron-hr">
			<div class="row justify-content-center" n:if="$contactLinks = $contact->getLinks()">
				<p class="col col-auto" n:foreach="$contactLinks as $contactLink">
					<i class="fa fa-2x fa-{$contactLink->getIcon()}"></i>
					<a href="{$contactLink->getLink()|nocheck}">
						{$contactLink->getName()}
					</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="top-menu-container" n:if=" ! $presenter->isLinkCurrent(':Homepage:')">
	<p class="top-menu-inner-container text-center">
		<a n:href=":Homepage:" class="btn btn-primary">
			<i class="fa fa-2x fa-home"></i>
			Home
		</a>
	</p>
</div>

<div class="container">
	{include content}
</div>

<script src="{='/assets/index.js'|version}" n:nonce></script>
</body>
</html>
