<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Vít Kutný</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{='/assets/index.css'|version}">
</head>

<body>
<div class=container>
	<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>

	{include content}
</div>
<script src="{='/assets/index.js'|version}" n:nonce></script>
</body>
</html>
