services:
	-
		class: Parsedown
		setup:
			- setMarkupEscaped(true)

	nette.latteFactory:
		setup:
			- addFilter(parsedown, [@\Parsedown, text])

application:
	errorPresenter: Error
	scanDirs: off
	mapping:
		*: App\*Module\Presenters\*Presenter

routing:
	routes:
		'[[<module>/]<presenter>]':
			presenter: Homepage
			action: default

http:
	csp:
		default-src: [self]
		img-src: [self, 'data:', s.gravatar.com]
		style-src: [self, fonts.googleapis.com]
		font-src: [self, fonts.gstatic.com]
		script-src: [nonce]
		object-src: [none]
		base-uri: [none]

latte:
	strictTypes: on

extensions:
	version: VitKutny\Version\Extension

includes:
	- ../BlogModule/config/config.neon
	- ../ContactModule/config/config.neon
	- ../DisqusModule/config/config.neon
