services:
	-
		class: App\Contact\Contact
		arguments: ['Vít Kutný', 'Web developer', 'Brno, Czech Republic']
		setup:
			- setAvatar(App\Contact\ContactAvatar('https://s.gravatar.com/avatar/e20f4c60c27271193eb2ae612401ccd9?s=200', 200))
			- addLink(App\Contact\ContactLink('LinkedIn', 'https://www.linkedin.com/in/vitkutny', 'linkedin'))
			- addLink(App\Contact\ContactLink('Twitter', 'https://twitter.com/vitkutny', 'twitter'))
			- addLink(App\Contact\ContactLink('GitHub', 'https://github.com/vitkutny', 'github'))
			- addLink(App\Contact\ContactLink('Facebook', 'https://facebook.com/vitkutny', 'facebook'))
			- addLink(App\Contact\ContactLink('vitkutny@icloud.com', 'mailto:vitkutny@icloud.com', 'envelope'))
			- addLink(App\Contact\ContactLink('+420 605 531 830', 'tel:+420605531830', 'phone'))

application:
	scanDirs: off
	mapping:
		*: App\*Module\Presenters\*Presenter

routing:
	routes:
		'[<module>/]<presenter>':
			presenter: Homepage
			action: default

http:
	csp:
		default-src: [self]
		img-src: [self, 'data:', s.gravatar.com]
		script-src: [nonce]
		object-src: [none]
		base-uri: [none]

latte:
	strictTypes: on

extensions:
	version: VitKutny\Version\Extension
