services:
	-
		class: App\BlogModule\Post\PostRepository
		arguments: [
			%wwwDir%/blog,
			@App\BlogModule\Post\PostContentParser\MarkdownPostContentParser,
			@App\BlogModule\Post\PostContentParser\HtmlPostContentParser,
		]

	-	App\BlogModule\Post\PostContentParser\HtmlPostContentParser
	-
		class: App\BlogModule\Post\PostContentParser\MarkdownPostContentParser
		arguments: [Parsedown()]

	- App\BlogModule\Controls\PostListControlFactory
	- App\BlogModule\Controls\PostInfoControlFactory

routing:
	routes:
		'blog/<post>':
			post:
				filterIn: [@App\BlogModule\Post\PostRepository, getById]
				filterOut: null
				pattern: ::constant(App\BlogModule\Post\PostRepository::ROUTE_PATTERN)
			module: Blog
			presenter: Post
			action: default
